Jasmine Pinheiro de Souza - Gu302704x

# Exercício - Aula 5
Separe a tabela em duas tabelas, da seguinte forma:

Utilizando as duas tabelas criadas, realize as seguintes operações utilizando a chave 
- Junção interna
- Junção externa a esquerda
- Junção exerna à direita
- Junção externa completa
- Produto cartesiano

In [1]:
import pandas as pd

In [4]:
import numpy as np

In [6]:
dict1 = {
    'nome': ['Anderson', 'Beatriz', 'Bruno', 'Cristiano', 'Daniel', 'Douglas', 'Elma', 'Fabricio'],
    'chave': ['C0', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7'],
    'chave1': ['C0', 'C1', 'C2', 'C3', 'C0', 'C1', 'C2', 'C3'],
    'idade': [24, 36, 45, 56, 29, 20, 38, 47],
    'cidade': ['Santos', 'Atibaia', 'Guarulhos', 'Atibaia', 'Santos', 'Guarulhos', 'Guarulhos', 'Atibaia'],
    'Registro': [32123, 45828, 34985, 13457, 98439, 99348, 45019, 24894],
    'Departamento': ['RH', 'PD', 'RH', 'ADM', 'ADM', 'RH', 'ADM', 'PD'],
    'Formação': ['Graduação', 'Mestrado', 'Graduação', 'Técnico', 'Graduação', 'Técnico', 'Graduação', 'Graduação']
}


dict2 = {
    'nome': ['Gabriel', 'Janaina', 'Luiz', 'Marcos', 'Nadja', 'Oswaldo', 'Patricia', 'Ricardo'],
    'chave': ['C0', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7'],
    'chave1': ['C0', 'C0', 'C0', 'C0', 'C1', 'C1', 'C1', 'C1'],
    'idade': [23, 56, 32, 22, 36, 68, 22, 38],
    'cidade': ['Guarulhos', 'Guarulhos', 'Atibaia', 'Guarulhos', 'Santos', 'Guarulhos', 'Guarulhos', 'Santos'],
    'Registro': [32948, 13480, 22884, 56821, 65938, 12956, 75439, 45392],
    'Departamento': ['PD', 'ADM', 'PD', 'ADM', 'PD', 'RH', 'ADM', 'PD'],
    'Formação': ['Técnico', 'Graduação', 'Graduação', 'Graduação', 'Mestrado', 'Graduação', 'Mestrado', 'Graduação']
}

In [7]:
df1 = pd.DataFrame(dict1)

In [9]:
df2 = pd.DataFrame(dict2)

In [11]:
print(df1)
print("\n")
print(df2)

        nome chave chave1  idade     cidade  Registro Departamento   Formação
0   Anderson    C0     C0     24     Santos     32123           RH  Graduação
1    Beatriz    C1     C1     36    Atibaia     45828           PD   Mestrado
2      Bruno    C2     C2     45  Guarulhos     34985           RH  Graduação
3  Cristiano    C3     C3     56    Atibaia     13457          ADM    Técnico
4     Daniel    C4     C0     29     Santos     98439          ADM  Graduação
5    Douglas    C5     C1     20  Guarulhos     99348           RH    Técnico
6       Elma    C6     C2     38  Guarulhos     45019          ADM  Graduação
7   Fabricio    C7     C3     47    Atibaia     24894           PD  Graduação


       nome chave chave1  idade     cidade  Registro Departamento   Formação
0   Gabriel    C0     C0     23  Guarulhos     32948           PD    Técnico
1   Janaina    C1     C0     56  Guarulhos     13480          ADM  Graduação
2      Luiz    C2     C0     32    Atibaia     22884           PD  Graduação
3    Marcos    C3     C0     22  Guarulhos     56821          ADM  Graduação
4     Nadja    C4     C1     36     Santos     65938           PD   Mestrado
5   Oswaldo    C5     C1     68  Guarulhos     12956           RH  Graduação
6  Patricia    C6     C1     22  Guarulhos     75439          ADM   Mestrado
7   Ricardo    C7     C1     38     Santos     45392           PD  Graduação

In [26]:
# Junção interna
inner_join = pd.merge(df1, df2, on='chave', suffixes=('_df1', '_df2'))
print("Junção interna:\n", inner_join)

Junção interna:
     nome_df1 chave chave1_df1  idade_df1 cidade_df1  Registro_df1  \
0   Anderson    C0         C0         24     Santos         32123
1    Beatriz    C1         C1         36    Atibaia         45828
2      Bruno    C2         C2         45  Guarulhos         34985
3  Cristiano    C3         C3         56    Atibaia         13457
4     Daniel    C4         C0         29     Santos         98439
5    Douglas    C5         C1         20  Guarulhos         99348
6       Elma    C6         C2         38  Guarulhos         45019
7   Fabricio    C7         C3         47    Atibaia         24894

  Departamento_df1 Formação_df1  nome_df2 chave1_df2  idade_df2 cidade_df2  \
0               RH    Graduação   Gabriel         C0         23  Guarulhos
1               PD     Mestrado   Janaina         C0         56  Guarulhos
2               RH    Graduação      Luiz         C0         32    Atibaia
3              ADM      Técnico    Marcos         C0         22  Guarulhos
4              ADM    Graduação     Nadja         C1         36     Santos
5               RH      Técnico   Oswaldo         C1         68  Guarulhos
6              ADM    Graduação  Patricia         C1         22  Guarulhos
7               PD    Graduação   Ricardo         C1         38     Santos

   Registro_df2 Departamento_df2 Formação_df2
0         32948               PD      Técnico
1         13480              ADM    Graduação
2         22884               PD    Graduação
3         56821              ADM    Graduação
4         65938               PD     Mestrado
5         12956               RH    Graduação
6         75439              ADM     Mestrado
7         45392               PD    Graduação

In [27]:
# Junção externa à esquerda
left_join = pd.merge(df1, df2, on='chave', how='left', suffixes=('_df1', '_df2'))
print("\nJunção externa à esquerda:\n", left_join)

Junção externa à esquerda:
     nome_df1 chave chave1_df1  idade_df1 cidade_df1  Registro_df1  \
0   Anderson    C0         C0         24     Santos         32123
1    Beatriz    C1         C1         36    Atibaia         45828
2      Bruno    C2         C2         45  Guarulhos         34985
3  Cristiano    C3         C3         56    Atibaia         13457
4     Daniel    C4         C0         29     Santos         98439
5    Douglas    C5         C1         20  Guarulhos         99348
6       Elma    C6         C2         38  Guarulhos         45019
7   Fabricio    C7         C3         47    Atibaia         24894

  Departamento_df1 Formação_df1  nome_df2 chave1_df2  idade_df2 cidade_df2  \
0               RH    Graduação   Gabriel         C0         23  Guarulhos
1               PD     Mestrado   Janaina         C0         56  Guarulhos
2               RH    Graduação      Luiz         C0         32    Atibaia
3              ADM      Técnico    Marcos         C0         22  Guarulhos
4              ADM    Graduação     Nadja         C1         36     Santos
5               RH      Técnico   Oswaldo         C1         68  Guarulhos
6              ADM    Graduação  Patricia         C1         22  Guarulhos
7               PD    Graduação   Ricardo         C1         38     Santos

   Registro_df2 Departamento_df2 Formação_df2
0         32948               PD      Técnico
1         13480              ADM    Graduação
2         22884               PD    Graduação
3         56821              ADM    Graduação
4         65938               PD     Mestrado
5         12956               RH    Graduação
6         75439              ADM     Mestrado
7         45392               PD    Graduação

In [28]:
# Junção externa à direita
right_join = pd.merge(df1, df2, on='chave', how='right', suffixes=('_df1', '_df2'))
print("\nJunção externa à direita:\n", right_join)

Junção externa à direita:
     nome_df1 chave chave1_df1  idade_df1 cidade_df1  Registro_df1  \
0   Anderson    C0         C0         24     Santos         32123
1    Beatriz    C1         C1         36    Atibaia         45828
2      Bruno    C2         C2         45  Guarulhos         34985
3  Cristiano    C3         C3         56    Atibaia         13457
4     Daniel    C4         C0         29     Santos         98439
5    Douglas    C5         C1         20  Guarulhos         99348
6       Elma    C6         C2         38  Guarulhos         45019
7   Fabricio    C7         C3         47    Atibaia         24894

  Departamento_df1 Formação_df1  nome_df2 chave1_df2  idade_df2 cidade_df2  \
0               RH    Graduação   Gabriel         C0         23  Guarulhos
1               PD     Mestrado   Janaina         C0         56  Guarulhos
2               RH    Graduação      Luiz         C0         32    Atibaia
3              ADM      Técnico    Marcos         C0         22  Guarulhos
4              ADM    Graduação     Nadja         C1         36     Santos
5               RH      Técnico   Oswaldo         C1         68  Guarulhos
6              ADM    Graduação  Patricia         C1         22  Guarulhos
7               PD    Graduação   Ricardo         C1         38     Santos

   Registro_df2 Departamento_df2 Formação_df2
0         32948               PD      Técnico
1         13480              ADM    Graduação
2         22884               PD    Graduação
3         56821              ADM    Graduação
4         65938               PD     Mestrado
5         12956               RH    Graduação
6         75439              ADM     Mestrado
7         45392               PD    Graduação

In [29]:
# Junção externa completa
outer_join = pd.merge(df1, df2, on='chave', how='outer', suffixes=('_df1', '_df2'))
print("\nJunção externa completa:\n", outer_join)

Junção externa completa:
     nome_df1 chave chave1_df1  idade_df1 cidade_df1  Registro_df1  \
0   Anderson    C0         C0         24     Santos         32123
1    Beatriz    C1         C1         36    Atibaia         45828
2      Bruno    C2         C2         45  Guarulhos         34985
3  Cristiano    C3         C3         56    Atibaia         13457
4     Daniel    C4         C0         29     Santos         98439
5    Douglas    C5         C1         20  Guarulhos         99348
6       Elma    C6         C2         38  Guarulhos         45019
7   Fabricio    C7         C3         47    Atibaia         24894

  Departamento_df1 Formação_df1  nome_df2 chave1_df2  idade_df2 cidade_df2  \
0               RH    Graduação   Gabriel         C0         23  Guarulhos
1               PD     Mestrado   Janaina         C0         56  Guarulhos
2               RH    Graduação      Luiz         C0         32    Atibaia
3              ADM      Técnico    Marcos         C0         22  Guarulhos
4              ADM    Graduação     Nadja         C1         36     Santos
5               RH      Técnico   Oswaldo         C1         68  Guarulhos
6              ADM    Graduação  Patricia         C1         22  Guarulhos
7               PD    Graduação   Ricardo         C1         38     Santos

   Registro_df2 Departamento_df2 Formação_df2
0         32948               PD      Técnico
1         13480              ADM    Graduação
2         22884               PD    Graduação
3         56821              ADM    Graduação
4         65938               PD     Mestrado
5         12956               RH    Graduação
6         75439              ADM     Mestrado
7         45392               PD    Graduação

In [30]:
# Produto cartesiano
cartesian_product = df1.assign(key=1).merge(df2.assign(key=1), on='key').drop('key', axis=1)
print("\nProduto cartesiano:\n", cartesian_product)

Produto cartesiano:
       nome_x chave_x chave1_x  idade_x cidade_x  Registro_x Departamento_x  \
0   Anderson      C0       C0       24   Santos       32123             RH
1   Anderson      C0       C0       24   Santos       32123             RH
2   Anderson      C0       C0       24   Santos       32123             RH
3   Anderson      C0       C0       24   Santos       32123             RH
4   Anderson      C0       C0       24   Santos       32123             RH
..       ...     ...      ...      ...      ...         ...            ...
59  Fabricio      C7       C3       47  Atibaia       24894             PD
60  Fabricio      C7       C3       47  Atibaia       24894             PD
61  Fabricio      C7       C3       47  Atibaia       24894             PD
62  Fabricio      C7       C3       47  Atibaia       24894             PD
63  Fabricio      C7       C3       47  Atibaia       24894             PD

   Formação_x    nome_y chave_y chave1_y  idade_y   cidade_y  Registro_y  \
0   Graduação   Gabriel      C0       C0       23  Guarulhos       32948
1   Graduação   Janaina      C1       C0       56  Guarulhos       13480
2   Graduação      Luiz      C2       C0       32    Atibaia       22884
3   Graduação    Marcos      C3       C0       22  Guarulhos       56821
4   Graduação     Nadja      C4       C1       36     Santos       65938
..        ...       ...     ...      ...      ...        ...         ...
59  Graduação    Marcos      C3       C0       22  Guarulhos       56821
60  Graduação     Nadja      C4       C1       36     Santos       65938
61  Graduação   Oswaldo      C5       C1       68  Guarulhos       12956
62  Graduação  Patricia      C6       C1       22  Guarulhos       75439
63  Graduação   Ricardo      C7       C1       38     Santos       45392

   Departamento_y Formação_y
0              PD    Técnico
1             ADM  Graduação
2              PD  Graduação
3             ADM  Graduação
4              PD   Mestrado
..            ...        ...
59            ADM  Graduação
60             PD   Mestrado
61             RH  Graduação
62            ADM   Mestrado
63             PD  Graduação

[64 rows x 16 columns]