Jasmine Pinheiro de Souza - Gu302704x

# Exercício - Aula 5
Separe a tabela em duas tabelas, da seguinte forma:

Utilizando as duas tabelas criadas, realize as seguintes operações utilizando a chave 
- Junção interna
- Junção externa a esquerda
- Junção exerna à direita
- Junção externa completa
- Produto cartesiano

In [4]:
import pandas as pd

In [1]:
import numpy as np

In [2]:
dict1 = {
    'nome': ['Anderson', 'Beatriz', 'Bruno', 'Cristiano', 'Daniel', 'Douglas', 'Elma', 'Fabricio'],
    'chave': ['C0', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7'],
    'chave1': ['C0', 'C1', 'C2', 'C3', 'C0', 'C1', 'C2', 'C3'],
    'idade': [24, 36, 45, 56, 29, 20, 38, 47],
    'cidade': ['Santos', 'Atibaia', 'Guarulhos', 'Atibaia', 'Santos', 'Guarulhos', 'Guarulhos', 'Atibaia'],
    'Registro': [32123, 45828, 34985, 13457, 98439, 99348, 45019, 24894],
    'Departamento': ['RH', 'PD', 'RH', 'ADM', 'ADM', 'RH', 'ADM', 'PD'],
    'Formação': ['Graduação', 'Mestrado', 'Graduação', 'Técnico', 'Graduação', 'Técnico', 'Graduação', 'Graduação']
}


dict2 = {
    'nome': ['Gabriel', 'Janaina', 'Luiz', 'Marcos', 'Nadja', 'Oswaldo', 'Patricia', 'Ricardo'],
    'chave': ['C0', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7'],
    'chave1': ['C0', 'C0', 'C0', 'C0', 'C1', 'C1', 'C1', 'C1'],
    'idade': [23, 56, 32, 22, 36, 68, 22, 38],
    'cidade': ['Guarulhos', 'Guarulhos', 'Atibaia', 'Guarulhos', 'Santos', 'Guarulhos', 'Guarulhos', 'Santos'],
    'Registro': [32948, 13480, 22884, 56821, 65938, 12956, 75439, 45392],
    'Departamento': ['PD', 'ADM', 'PD', 'ADM', 'PD', 'RH', 'ADM', 'PD'],
    'Formação': ['Técnico', 'Graduação', 'Graduação', 'Graduação', 'Mestrado', 'Graduação', 'Mestrado', 'Graduação']
}

In [5]:
df1 = pd.DataFrame(dict1)

In [6]:
df2 = pd.DataFrame(dict2)

In [7]:
print(df1)
print("\n")
print(df2)

        nome chave chave1  idade     cidade  Registro Departamento   Formação
0   Anderson    C0     C0     24     Santos     32123           RH  Graduação
1    Beatriz    C1     C1     36    Atibaia     45828           PD   Mestrado
2      Bruno    C2     C2     45  Guarulhos     34985           RH  Graduação
3  Cristiano    C3     C3     56    Atibaia     13457          ADM    Técnico
4     Daniel    C4     C0     29     Santos     98439          ADM  Graduação
5    Douglas    C5     C1     20  Guarulhos     99348           RH    Técnico
6       Elma    C6     C2     38  Guarulhos     45019          ADM  Graduação
7   Fabricio    C7     C3     47    Atibaia     24894           PD  Graduação


       nome chave chave1  idade     cidade  Registro Departamento   Formação
0   Gabriel    C0     C0     23  Guarulhos     32948           PD    Técnico
1   Janaina    C1     C0     56  Guarulhos     13480          ADM  Graduação
2      Luiz    C2     C0     32    Atibaia     22884           PD  Graduação
3    Marcos    C3     C0     22  Guarulhos     56821          ADM  Graduação
4     Nadja    C4     C1     36     Santos     65938           PD   Mestrado
5   Oswaldo    C5     C1     68  Guarulhos     12956           RH  Graduação
6  Patricia    C6     C1     22  Guarulhos     75439          ADM   Mestrado
7   Ricardo    C7     C1     38     Santos     45392           PD  Graduação

In [9]:
# Junção interna
inner_join = pd.merge(df1, df2, on=['chave', 'chave1'], how='inner', suffixes=('_dict1', '_dict2'))
print("Junção interna:\n", inner_join)

Junção interna:
   nome_dict1 chave chave1  idade_dict1 cidade_dict1  Registro_dict1  \
0   Anderson    C0     C0           24       Santos           32123
1    Douglas    C5     C1           20    Guarulhos           99348

  Departamento_dict1 Formação_dict1 nome_dict2  idade_dict2 cidade_dict2  \
0                 RH      Graduação    Gabriel           23    Guarulhos
1                 RH        Técnico    Oswaldo           68    Guarulhos

   Registro_dict2 Departamento_dict2 Formação_dict2
0           32948                 PD        Técnico
1           12956                 RH      Graduação

In [12]:
# Junção externa à esquerda
left_join = pd.merge(df1, df2, on=['chave', 'chave1'], how='left', suffixes=('_dict1', '_dict2'))
print("\nJunção externa à esquerda:\n", left_join)

Junção externa à esquerda:
   nome_dict1 chave chave1  idade_dict1 cidade_dict1  Registro_dict1  \
0   Anderson    C0     C0           24       Santos           32123
1    Beatriz    C1     C1           36      Atibaia           45828
2      Bruno    C2     C2           45    Guarulhos           34985
3  Cristiano    C3     C3           56      Atibaia           13457
4     Daniel    C4     C0           29       Santos           98439
5    Douglas    C5     C1           20    Guarulhos           99348
6       Elma    C6     C2           38    Guarulhos           45019
7   Fabricio    C7     C3           47      Atibaia           24894

  Departamento_dict1 Formação_dict1 nome_dict2  idade_dict2 cidade_dict2  \
0                 RH      Graduação    Gabriel         23.0    Guarulhos
1                 PD       Mestrado        NaN          NaN          NaN
2                 RH      Graduação        NaN          NaN          NaN
3                ADM        Técnico        NaN          NaN          NaN
4                ADM      Graduação        NaN          NaN          NaN
5                 RH        Técnico    Oswaldo         68.0    Guarulhos
6                ADM      Graduação        NaN          NaN          NaN
7                 PD      Graduação        NaN          NaN          NaN

   Registro_dict2 Departamento_dict2 Formação_dict2
0         32948.0                 PD        Técnico
1             NaN                NaN            NaN
2             NaN                NaN            NaN
3             NaN                NaN            NaN
4             NaN                NaN            NaN
5         12956.0                 RH      Graduação
6             NaN                NaN            NaN
7             NaN                NaN            NaN

In [14]:
# Junção externa à direita
right_join = pd.merge(df1, df2, on=['chave', 'chave1'], how='right', suffixes=('_dict1', '_dict2'))
print("\nJunção externa à direita:\n", right_join)

Junção externa à direita:
   nome_dict1 chave chave1  idade_dict1 cidade_dict1  Registro_dict1  \
0   Anderson    C0     C0         24.0       Santos         32123.0
1        NaN    C1     C0          NaN          NaN             NaN
2        NaN    C2     C0          NaN          NaN             NaN
3        NaN    C3     C0          NaN          NaN             NaN
4        NaN    C4     C1          NaN          NaN             NaN
5    Douglas    C5     C1         20.0    Guarulhos         99348.0
6        NaN    C6     C1          NaN          NaN             NaN
7        NaN    C7     C1          NaN          NaN             NaN

  Departamento_dict1 Formação_dict1 nome_dict2  idade_dict2 cidade_dict2  \
0                 RH      Graduação    Gabriel           23    Guarulhos
1                NaN            NaN    Janaina           56    Guarulhos
2                NaN            NaN       Luiz           32      Atibaia
3                NaN            NaN     Marcos           22    Guarulhos
4                NaN            NaN      Nadja           36       Santos
5                 RH        Técnico    Oswaldo           68    Guarulhos
6                NaN            NaN   Patricia           22    Guarulhos
7                NaN            NaN    Ricardo           38       Santos

   Registro_dict2 Departamento_dict2 Formação_dict2
0           32948                 PD        Técnico
1           13480                ADM      Graduação
2           22884                 PD      Graduação
3           56821                ADM      Graduação
4           65938                 PD       Mestrado
5           12956                 RH      Graduação
6           75439                ADM       Mestrado
7           45392                 PD      Graduação

In [15]:
# Junção externa completa
outer_join =  pd.merge(df1, df2, on=['chave', 'chave1'], how='outer', suffixes=('_dict1', '_dict2'))
print("\nJunção externa completa:\n", outer_join)

Junção externa completa:
    nome_dict1 chave chave1  idade_dict1 cidade_dict1  Registro_dict1  \
0    Anderson    C0     C0         24.0       Santos         32123.0
1         NaN    C1     C0          NaN          NaN             NaN
2     Beatriz    C1     C1         36.0      Atibaia         45828.0
3         NaN    C2     C0          NaN          NaN             NaN
4       Bruno    C2     C2         45.0    Guarulhos         34985.0
5         NaN    C3     C0          NaN          NaN             NaN
6   Cristiano    C3     C3         56.0      Atibaia         13457.0
7      Daniel    C4     C0         29.0       Santos         98439.0
8         NaN    C4     C1          NaN          NaN             NaN
9     Douglas    C5     C1         20.0    Guarulhos         99348.0
10        NaN    C6     C1          NaN          NaN             NaN
11       Elma    C6     C2         38.0    Guarulhos         45019.0
12        NaN    C7     C1          NaN          NaN             NaN
13   Fabricio    C7     C3         47.0      Atibaia         24894.0

   Departamento_dict1 Formação_dict1 nome_dict2  idade_dict2 cidade_dict2  \
0                  RH      Graduação    Gabriel         23.0    Guarulhos
1                 NaN            NaN    Janaina         56.0    Guarulhos
2                  PD       Mestrado        NaN          NaN          NaN
3                 NaN            NaN       Luiz         32.0      Atibaia
4                  RH      Graduação        NaN          NaN          NaN
5                 NaN            NaN     Marcos         22.0    Guarulhos
6                 ADM        Técnico        NaN          NaN          NaN
7                 ADM      Graduação        NaN          NaN          NaN
8                 NaN            NaN      Nadja         36.0       Santos
9                  RH        Técnico    Oswaldo         68.0    Guarulhos
10                NaN            NaN   Patricia         22.0    Guarulhos
11                ADM      Graduação        NaN          NaN          NaN
12                NaN            NaN    Ricardo         38.0       Santos
13                 PD      Graduação        NaN          NaN          NaN

    Registro_dict2 Departamento_dict2 Formação_dict2
0          32948.0                 PD        Técnico
1          13480.0                ADM      Graduação
2              NaN                NaN            NaN
3          22884.0                 PD      Graduação
4              NaN                NaN            NaN
5          56821.0                ADM      Graduação
6              NaN                NaN            NaN
7              NaN                NaN            NaN
8          65938.0                 PD       Mestrado
9          12956.0                 RH      Graduação
10         75439.0                ADM       Mestrado
11             NaN                NaN            NaN
12         45392.0                 PD      Graduação
13             NaN                NaN            NaN

In [16]:
# Produto cartesiano
cartesian_product = pd.merge(df1, df2, how='cross')
print("\nProduto cartesiano:\n", cartesian_product)

Produto cartesiano:
       nome_x chave_x chave1_x  idade_x cidade_x  Registro_x Departamento_x  \
0   Anderson      C0       C0       24   Santos       32123             RH
1   Anderson      C0       C0       24   Santos       32123             RH
2   Anderson      C0       C0       24   Santos       32123             RH
3   Anderson      C0       C0       24   Santos       32123             RH
4   Anderson      C0       C0       24   Santos       32123             RH
..       ...     ...      ...      ...      ...         ...            ...
59  Fabricio      C7       C3       47  Atibaia       24894             PD
60  Fabricio      C7       C3       47  Atibaia       24894             PD
61  Fabricio      C7       C3       47  Atibaia       24894             PD
62  Fabricio      C7       C3       47  Atibaia       24894             PD
63  Fabricio      C7       C3       47  Atibaia       24894             PD

   Formação_x    nome_y chave_y chave1_y  idade_y   cidade_y  Registro_y  \
0   Graduação   Gabriel      C0       C0       23  Guarulhos       32948
1   Graduação   Janaina      C1       C0       56  Guarulhos       13480
2   Graduação      Luiz      C2       C0       32    Atibaia       22884
3   Graduação    Marcos      C3       C0       22  Guarulhos       56821
4   Graduação     Nadja      C4       C1       36     Santos       65938
..        ...       ...     ...      ...      ...        ...         ...
59  Graduação    Marcos      C3       C0       22  Guarulhos       56821
60  Graduação     Nadja      C4       C1       36     Santos       65938
61  Graduação   Oswaldo      C5       C1       68  Guarulhos       12956
62  Graduação  Patricia      C6       C1       22  Guarulhos       75439
63  Graduação   Ricardo      C7       C1       38     Santos       45392

   Departamento_y Formação_y
0              PD    Técnico
1             ADM  Graduação
2              PD  Graduação
3             ADM  Graduação
4              PD   Mestrado
..            ...        ...
59            ADM  Graduação
60             PD   Mestrado
61             RH  Graduação
62            ADM   Mestrado
63             PD  Graduação

[64 rows x 16 columns]